<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="DbName" value="Certificates"/>
    <add key="save" value="save"/>
    <add key="saveDuplicate" value="save_duplicate"/>
    <add key="delete" value="delete"/>
    <add key="update" value="update"/>
    <add key="getAll" value="getAll"/>
    <add key="failureMsg" value="failure"/>
  </appSettings>
</configuration>